.content{
    background-image: url(../images/homeBG.jpg);
    background-repeat:no-repeat;
    background-position:center top;
    margin: 0 auto;
    margin-top: 100px;
    width: 1208px;
    height: 535px;
    /* text-align: center; */
    display: flex;
}
.homePage{
    margin: auto;
    font-size: 26px;
    color:white;
}
.from{
    color:#555;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 18px;
    margin-bottom: 80px;
    text-align: center;
}
.art{
    margin-left: 200px;
    text-align: left;
    color: navy;
    font-size: 18px;
    letter-spacing:1px;
    line-height:300%
}
.arts{
    margin-left: 100px;
    margin-right: 100px;
    color:gray;
    font-size: 14px;
}