.content{
    margin-top: 160px;
    width: 1208px;
    margin: 0 auto;
}

.picture{
    float: left;
    margin-top: 60px;
    margin-left: 180px;
    margin-right: 0;
    margin-bottom: 60px;
}
.picture a img{
   
    transition: all 0.5s;
    border-radius:5px;
}
.contentpicture{
    width: 200px;
    margin-left: 270px;
    margin-top: 40px;
    float: left;
}
.picture a img:hover{
    transform: scale(1.1);
}
.name{
    margin-top: 20px;
    text-align: center;
    color:navy
}
.introduction{
    width: 692px;
    height: 390px;
    margin-top: 60px;
    margin-left: 380px;
    margin-right: 180px;
}
.introduction a{
    font-size: 16px;
    text-decoration: none;
}