*{
    margin: 0;
    padding: 0;

}
body{
    background-image: url(../images/index_bg.jpg);
    background-repeat:no-repeat;
    background-position:center top;
    background-attachment: fixed;/*背景不动，内容滚动*/
    font-family: Helvetica, Arial, "Microsoft YaHei", sans-serif;
    background-color: #eee;
    font-size: 14px;
}
.bgColor{
    width: 1208px;
    background-color: #dfdfdf8e;
    margin: 0 auto;
}
.tittle{
    height: 32px;
    width: 1208px;
    color: navy;
    font-size: 32px;
    margin-top: 12px;
    margin: 0 auto;
    text-align: right;
}
/* 导航栏 */
.index{
    height: 56px;
    background-color: rgba(0, 0, 128, 0.8);
    margin: 0 auto;
    width: 1208px;
    margin-top: 12px;
}
.indexMini{
    height: 56px;
    background-color: rgba(0, 0, 128, 0.8);
    margin: 0 auto;
    width: 140px;
    margin-top: 12px;
}
.dock{
    color:#FFFFFF;
}
.dock li{
    font-size: 16px;
    list-style: none;
    float: left;
    width: 140px;
    line-height: 56px; /*让行高等于这一行的高度，保证里面的文字垂直居中*/
}
.dock li a{
    display: block; /*将超链接转为块儿，可以保证其霸占父亲的整行*/
    height: 56px;
    text-decoration: none; /*去掉超链的下划线*/
    color:#FFF;
    text-align: center;  /*让这个div内部的文本居中*/
}
.dock li a:hover{
    color: rgba(0, 0, 128, 0.8);
    background: #FFF;
}
.dock li a:current{
    color: rgba(0, 0, 128, 0.8);
    background: #FFF;
}
/* 底部 */
.footer{
    background:rgba(0, 0, 128, 0.8);
    width: 1208px;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    line-height: 3ex;
    clear:both;
}

.copyright{
    color: #FFF;
    margin-top: 10px;
    text-align: center;
    font-size: 8px;
    
}
a{
    transition: all 0.5s;
    border-radius:5px; 
}
a:hover{
    transform: scale(1.1);
}

/*线*/
.box {
    height: 40px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.line {
    height: 3px;
    flex-grow: 1;
    background-color: rgba(0, 0, 128, 0.8);
}
.line-1{
    height: 1px;
    flex-grow: 1;
    background-color: rgba(0, 0, 128, 0.8);
}
.line-white{
    height: 1px;
    flex-grow: 1;
    background-color: white;
}
.text{
    color: navy;
    font-size: 20px;
    margin: 0 8px;
    text-align: center;
}
/* 联系方式 */
.contenttext{
    color: gray;
    font-size: 20px;
    margin: 0 8px;
    margin-top: 10px;
    margin: 10px;
    text-align: center;
}
.contenttext a{
    text-decoration: none; /*去掉超链的下划线*/
}
.contenttext a:hover{
    color:gray;
}